$font-stack: 'Inter', sans-serif;
$font-size: 1rem;
$primary-color: #2471b0;
$secondary-color: #ffb31a;
$hover-color: #3d87c4;
$text-color: #3f3f3f;
$box-shadow: 1px 1px 20px rgba($color: #000000, $alpha: 0.1);
$bg-color: #dae7f2;
$box-hover: 1px 1px 30px rgba($color: #3a3a3a, $alpha: 0.3);